body {
  margin: 0;
  display: flex;
  justify-content: center;
}
.SignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  display: block;
  padding: 10px;
}
